@{
    ViewData["Title"] = "Changes Password | Topder";
    Layout = "AdminLayout";
}

        <div class="container-scroller">
                <partial name="/Views/Shared/HeaderRestaurant.cshtml"/>

                <partial name="/Views/Shared/LeftPageRestaurant.cshtml"/>
                
                <div class="container" style="margin-top: 50px">   
                    <div class="row gutters">                      
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="tabs-listing">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h6 class="mb-2 text-primary">Đổi Mật Khẩu</h6>
                                        </div>
                                            @if(ViewBag.ChangesPasswordSuccess != null)
                                            {
                                                <p style="text-align: center" class="text-success">@ViewBag.ChangesPasswordSuccess</p>
                                            }
                                            @if(ViewBag.RepasswordError != null)
                                            {
                                                <p style="text-align: center" class="text-danger">@ViewBag.RepasswordError</p>
                                            }
                                            @if(ViewBag.PasswordError != null)
                                            {
                                                <p style="text-align: center" class="text-danger">@ViewBag.PasswordError</p>
                                            }
                                        <form method="post" asp-action="ChangesPassword">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="new">Mật Khẩu Mới</label>
                                                    <input type="password" name="newpass" class="form-control" placeholder="Mật Khẩu Mới" id="new" required>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="phone">Nhập Lại Mật Khẩu Mới</label>
                                                    <input type="password" name="renewpass" class="form-control" placeholder="Nhập Lại Mật Khẩu Mới" id="phone" required>
                                                </div>
                                            </div>
                                            <div class="row gutters">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <div class="text-right" style="margin-top: 30px;">
                                                        <button type="submit" id="submit" name="submit"  class="btn btn-primary">Đổi Mật Khẩu</button>                                  
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
