@{
    ViewData["Title"] = "Reset Password | Topder";
    Layout = "AdminLayout";
}

        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="content-wrapper d-flex align-items-center auth px-0">
                    <div class="row w-100 mx-0">
                        <div class="col-lg-4 mx-auto">
                            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
             
                                <h2 style="text-align: center">Đặt Lại Mật Khẩu</h2>

                                <form method="post" asp-action="ResetPassword">
                                                <div class="form-group">
                                                    <label for="passwordres">Mật Khẩu Mới</label>
                                                    <input type="password" name="pass" class="form-control" placeholder="Mật Khẩu Mới" id="passwordres" required >
                                                    @if(ViewBag.PasswordError != null){
                                                         <h5 class="text-danger">@ViewBag.PasswordError</h5>
                                                    }
                                                </div>
                                                <div class="form-group">
                                                    <label for="repasswordres">Nhập Lại Mật Khẩu Mới</label>
                                                    <input type="password" name="repass"class="form-control" placeholder="Nhập Lại Mật Khẩu Mới" id="repasswordres" required>
                                                    @if(ViewBag.RepasswordError != null){
                                                         <h5 class="text-danger">@ViewBag.RepasswordError</h5>
                                                    }                                                
                                                </div>
                                    <div class="mt-3" style="text-align: center">
                                        <button type="submit" name="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Xác Nhận</button>
                                    </div>
                                </form>

                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <div class="form-check">
                                    </div>
                                    <a href="/restaurant/authenticate/login" class="auth-link text-black">Đăng Nhập?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
