@{
    ViewData["Title"] = "Đặt Lại Mật Khẩu | Topder";
    Layout = "CustomerLayout";
}

    @if (ViewBag.IsLogin == true)
    {
        <partial name="/Views/Shared/HeaderCustomer.cshtml"/>
    }
    else
    {
        <partial name="/Views/Shared/HeaderGuest.cshtml"/>
    }

    <!--=============================
        BREADCRUMB START
    ==============================-->
    <section class="page_breadcrumb" style="background: url(/Images/topder/1900x1000.png);">
        <div class="breadcrumb_overlay">
            <div class="container">
                <div class="breadcrumb_text">
                    <h1>Đặt Lại Mật Khẩu</h1>
                    <ul>
                        <li><a href="/customer/home">Trang Chủ</a></li>
                        <li><a href="#">Đặt Lại Mật Khẩu</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--=============================
        BREADCRUMB END
    ==============================-->


    <!--=========================
        FORGOT PASSWORD START 
    ==========================-->
    <section class="signin pt_100 xs_pt_70 pb_100 xs_pb_70">
        <div class="container">
            <div class="row justify-content-center wow fadeInUp" data-wow-duration="1s">
                <div class="col-xl-5 col-sm-10 col-md-8 col-lg-6">
                    <div class="login_area">
                        <h2>Xin Chào!</h2>
                        <p>Đặt Lại Mật Khẩu</p>
                        <form asp-action="ResetPassword" method="post">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="login_imput">
                                        <input type="password" placeholder="Mật Khẩu Mới" name="pass" required>
                                    @if (ViewBag.PasswordError != null)
                                    {
                                      <span class="text-danger">@ViewBag.PasswordError</span>
                                    }
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="login_imput">
                                        <input type="password" placeholder="Nhập Lại Mật Khẩu Mới" name="repass" required>
                                    @if (ViewBag.RepasswordError != null)
                                    {
                                      <span class="text-danger">@ViewBag.RepasswordError</span>
                                    }
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="login_imput">
                                        <button type="submit" class="common_btn">Xác Nhận</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <p class="create_account d-flex justify-content-between">
                            <a href="/customer/authenticate/login">Đăng Nhập</a>
                            <a href="/customer/authenticate/register">Đăng Ký Khoản</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=========================
        FORGOT PASSWORD END
    ==========================-->
