@{
    ViewData["Title"] = "Create Blog | Topder";
    Layout = "AdminLayout";
}

        <div class="container-scroller">
                <partial name="/Views/Shared/HeaderAdmin.cshtml"/>

                <partial name="/Views/Shared/LeftPageAdmin.cshtml"/>
                <!-- partial -->
                <div class="main-panel">        
                    <div class="content-wrapper">
                        <form class="forms-sample" method="post" enctype="multipart/form-data" asp-action="CreateBlog">

                            <div class="row">
                                <div class="col-md-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Create Blog</h4>
                                            <p class="card-description">
                                                Fill all the bank
                                            </p>
                                                <div class="form-group">

                                                    <label for="bloggrouplb">Blog Group</label>
                                                    <select class="form-control" id="bloggrouplb" name="bloggroup_id" asp-items="ViewBag.BlogGroups">
                                                    </select>

                                                </div>

                                                <div class="form-group">
                                                    <div class="form-group">
                                                    <label for="img">Image</label>
                                                    <img id="preview-img" src="" alt="avatar" style="width: 30%">
                                                    <input type="file" name="fileUpload" class="form-control" 
                                                    id="img" onchange="previewImage()" accept="image/*">
                                                    </div>
                                                </div>

                                                <div class="form-group">

                                                    <label  for="titlelb">Title</label>
                                                    <input type="text" class="form-control" name="title" id="titlelb" placeholder="Title"  required>

                                                </div>

                                                <div class="form-group">

                                                    <label for="contentlb">Content</label> <br>
                                                    <textarea  name="content" id="contentlb" ></textarea>

                                                </div>

                                            <div style="text-align: center">
                                                <button type="submit" name="submit" class="btn btn-primary me-2">Submit</button>
                                                <a href="/admin/blog" class="btn btn-light">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
